  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  /*
  ==========================================
  KONFIGURASI TAMBAHAN (Mengganti Default)
  ==========================================
  */
  @layer base {
    body {
      /* Mengatur latar belakang halaman default ke warna Dasar-100 */
      @apply bg-dasar-100 text-dasar-900;
    }
  }

  /* Anda bisa menambahkan utility atau komponen kustom di bawah ini jika diperlukan */
  /* @layer components { ... } */
  /* @layer utilities { ... } */


  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height : 1.5;
    font-weight: 400;

    /* Warna tema utama */
    color: var(--color-dasar-900);
    background-color: var(--color-dasar-100);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Tambahan agar dark mode tetap readable */
    color-scheme: light;
  }

  /* === LINK === */
  a {
    font-weight: 500;
    /* color: var(--color-barokah-600); */
    text-decoration: none;
    transition: color 0.2s ease;
  }
  a:hover {
    /* color: var(--color-barokah-500); */
  }

  /* === BODY === */
  body {
    margin: 0;
    /* display: flex; */
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-dasar-100);
    color: var(--color-dasar-900);
  }

  /* === HEADING === */
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: var(--color-barokah-700);
  }

  /* === BUTTON === */
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    /* background-color: var(--color-barokah-500); */
    /* color: white; */
    cursor: pointer;
    transition: background-color 0.25s, transform 0.1s;
  }
  button:hover {
    /* background-color: var(--color-barokah-600); */
    transform: translateY(-1px);
  }
  button:active {
    /* background-color: var(--color-barokah-700); */
    transform: translateY(0);
  }
  button:focus,
  button:focus-visible {
    outline: 3px solid var(--color-aksen);
  }

  /* CSS murni */
  ::-webkit-scrollbar {
    display: none;
  }

  aside {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;     /* Firefox */
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  /* === MODE GELAP (opsional, hangat tetap lembut) === */
  /* @media (prefers-color-scheme: dark) {
    :root {
      color: var(--color-dasar-50);
      background-color: var(--color-barokah-900);
    }
    a {
      color: var(--color-barokah-300);
    }
    a:hover {
      color: var(--color-barokah-200);
    }
    button {
      background-color: var(--color-barokah-600);
    }
    button:hover {
      background-color: var(--color-barokah-500);
    }
  } */

